<!-- templates/partials/playlists_form.html -->

<fieldset>
    <legend>{{ Therapist }}</legend>
    

    <p>
        <label for='therapist-name'>First and Last Name</label><br>
        <input id='therapist-name' type='text' name='name' value='{{ therapist.name }}'/>
    </p>


    <p>
        <label for='therapist-phone'>Phone Number</label><br>
        <input id='therapist-phone' type='text' name='phone' value='{{ therapist.phone }}' />
    </p>


    <p>
        <label for='therapist-email'>Email</label><br>
        <input id='therapist-email' type='text' name='email' value='{{ therapist.email }}' />
    </p>


    <p>
        <label for='therapist-street'>Street</label><br>
        <input id='therapist-street' type='text' name='street' value='{{ therapist.street }}' />
    </p>

    <p>
        <label for='therapist-city'>City</label><br>
        <input id='therapist-city' type='text' name='city' value='{{ therapist.city }}' />
    </p>


    <p>
        <label for='therapist-state'>State</label><br>
        <input id='therapist-state' type='text' name='state' value='{{ therapist.state }}'/>
    </p>


    <p>
        <label for='therpist-zip'>Zip Code</label><br>
        <input id='therapist-zip' type='text' name='zip' value='{{ therapist.zip }}'/>
    </p>


    <p>
        <label for='therapist-status'>License Status</label><br>
        <input id='therapist-status' type='text' name='status' value='{{ therapist.status }}' />
    </p>


    <p>
        <label for='therapist-billing'>Billing and Insurance</label><br>
        <input id='therapist-billing' type='text' name='status' value='{{ therapist.billing }}' />
    </p>

    <p>
        <label for='therapist-services'>Services I Provide</label><br>
        <input id='therapist-services' type='text' name='services' value='{{ therapist.services }}' />
    </p>


    <p>
        <label for='therapist-ages'>Ages I Work With</label><br>
        <input id='therapist-ages' type='text' name='ages' value='{{ therapist.ages }}' />
    </p>


    <p>
        <label for='therapist-language'>Languages</label><br>
        <input id='therapist-language' type='text' name='language' value='{{ therapist.languages }}' />
    </p>


    <p>
        <label for='therapist-profession'>Profession</label><br>
        <input id='therapist-profession' type='text' name='profession' value='{{ therapist.profession }}' />
    </p>


    <p>
        <label for='therapist-approach'>My Approach to Helping</label><br>
        <input id='therapist-approach' type='text' name='approach' value='{{ therapist.approach }}' />
    </p>


    <p>
        <label for='therapist-issues'>Specific Issues I am Skilled With</label><br>
        <input id='therapist-issues' type='text' name='issues' value='{{ therapist.issues }}' />
    </p>
    </fieldset>
   

    