<!-- have a link that reroute users to index -->
				
<div class="et_pb_text_inner">
<h1 style="text-align: center;">Nurture</h1></div>
<div class="et_pb_text_inner">
<p>
<h2> In partnership with licensed mental health professionals and coaches in private practice throughout the fifty states, Nurture provides proactive, multiculturally competent care to Boys and Young Men of color.</h2>
</p>
<a href='/therapists/add'><input type="button" value="Add Therapist"></a>
<a href='/therapists'><input type="button" value="View List"></a>
<a href='/therapist/about'><input type="button" value="About"></a>
<a href='/therapist/contact'><input type="button" value="Contact"></a>
</div> 
			
				
				
				
				
					