<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Therapists</h1>

    <a href='/'>Back to Home</a>

    {% for therapist in therapists %}
        <h2> {{ therapist.name }} </h2>
        <small>{{ therapist.phone }}</small>
        <small>{{ therapist.email }}</small>
        <small>{{ therapist.street }}</small>
        <small>{{ therapist.city }}</small>
        <small>{{ therapist.state }}</small>
        <small>{{ therapist.zip }}</small>
        <small>{{ therapist.status }}</small>
        <small>{{ therapist.billing }}</small>
        <small>{{ therapist.services }}</small>
        <small>{{ therapist.ages }}</small>
        <small>{{ therapist.language }}</small>
        <small>{{ therapist.profession }}</small>
        <small>{{ therapist.approach }}</small>
        <small>{{ therapist.issues }}</small>

<!-- Edit button -->
        <p><a class='btn btn-primary' href='therapists/{{ therapist._id }}/edit'>Edit</a></p>

<!-- Delete button -->
        <p><form method='POST' action='/therapists/{{ therapist._id }}/delete'>
        <button type='submit'>Delete</button>
    {% endfor %}
{% endblock %}